<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand text-warning" href="/">Node JS with MySql</a>
        <span class="navbar-text">
            Muhammad Fajrul Aslim
        </span>
    </div>
</nav>